body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3ff9c;
}
.card{
    width: 390px;
    box-shadow: 0 0 12px 3px rgba(0,0,0,1);
    padding: 20px;
    background-color: #6dff9c;
    color: #606060;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
hr{
    width: 373px;
}
.container {
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px;
}
.text1 {
    position: absolute;
    left: 138.5px;
    top: 15px;
    background-color: #6dff9c;
    padding: 0 10px;
    font-size: 28px;
}
p{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 17px;
}
.name1{
    width: 180px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #ffedad;
    line-height: 2;
    border-radius: 5px;
}
#name1{
    margin-right: 5px;
}
.name2{
    width: 373px;
    margin-bottom: 15px;
    background-color: #ffedad;
    line-height: 2;
    border-radius: 5px;
}
.link{
    color: green;
    text-decoration: none;
}
.link:active{
    color: blue;
}
.button{
    border: 0;
    margin-top: 20px;
    width: 373px;
    text-align: center;
    line-height: 2.5;
    padding: 0 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-image: linear-gradient(to top left, #ff5661, #ffb645);
    box-shadow: inset 2px 2px 3px #3169e0, inset -2px -2px 3px white;
}
.button:active{
    box-shadow: inset -2px -2px 3px #3169e0, inset 2px 2px 3px white;
}